.sidemenu__container{
    background-color: var(--color-css-primary);
    width: 280px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
    flex-shrink: 0;
    flex-grow: 0;
    position: fixed;
    top: 0;
    right: 0;
}
.sidemenu__navigation{
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
    margin: 8rem 0 3rem;
}
.sidemenu__item{
    color: var(--color-css-secondary);
    padding: 1.5rem 4rem;
}
.sidemenu__item:hover{
    color: var(--color-white);
    padding: 1.5rem 4rem;
}
.sidemenu__item-active{
    color: var(--color-css-primary);
    background-color: var(--color-white);
    padding: 1.5rem 4rem;
}
.profile__nav{
    color: var(--color-white);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 1.5rem 2rem;
}
.profile__nav svg{
    width: 1.8rem;
    margin-top: 4px;
}
.sidemenu__projectName {
    display: flex;
    align-items: center;
    position: relative;
    margin: 5rem 1rem;
}
.sidemenu__projectName::before {
    content: "";
    display: block;
    width: 70%;
    height: 1px;
    position: absolute;
    background-color: var(--color-white);
    left: 50%;
    top: -2rem;
    transform: translateX(-50%);
}
.sidemenu__logo-text{
    width: 20.9rem;
    color: var(--color-white);
}
.sidemenu__logo-img{
    width: 7rem;
    height: 7rem;
    margin: 0 0 0 0.7rem;
}
