.main__wrapper{
    display: flex;
    padding: 4rem 1rem;
    flex-direction: column;
    width: calc( 100% - 280px);
}
.main__heading{
    padding: 1rem 2rem 1.5rem;
}
.main__description{
    line-height: 3rem;
    padding: 0rem 10rem;
    font-size: 1.8rem;
    font-weight: bolder;
    color : var(--color-gray-dark-2);
}
.content__wrapper{
    /* width: 105rem; */
    min-height: 70vh;
    /* background-color: white; */
    padding: 3rem 1rem 2rem;
    border-radius: 3.5rem;
    /* box-shadow:  2px 3px 6px var(--color-shadow); */
}
.content__wrapper.nested__Document{
    background-color: var(--color-gray-light-3);
    padding: 0rem 0rem 0rem;
}
.nestedChild__wrapper{
    background-color: white;
    border-radius: 3.5rem;
    height: 55rem;
    width: 100%;
    position: relative;
}
.ant-tag, .ant-tag a, .ant-tag a:hover {
    color: var(--color-gray-dark-1);
    background-color: rgba(190, 237, 237, 0.2);
    border:1px solid rgba(190, 237, 237, 0.4);
    border-radius: 2rem;
}
.ant-tag[data-type="spacialDocument"]{
    background-color: rgba(255, 201, 131, 0.2);
    border:1px solid rgba(255, 201, 131, 0.4);
}
.ant-tag[data-type="admin"] {
    background-color: rgba(255, 114, 133, 0.2);
    border:1px solid rgba(255, 114, 133, 0.4);
}
.ant-tag[data-type="report"] {
    background-color: rgba(181, 180, 226, 0.2);
    border:1px solid rgba(181, 180, 226, 0.4);
}
.map__container{
    overflow: hidden;
    height: 100%;
    width: 100%;
}
.map__container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 3.5rem;
}

.action__panel{
    position: absolute;
    bottom: 1rem;
    left: 30%;
}
.action__panel button{
   margin-right: 1rem;
}
.LongForm__layout-divider{
    display: flex;
    min-height: 43rem;
}
.sectionsForm__wrapper{
    width: 78%;
    height: 100%;
    margin: 1rem 4rem 1rem 0rem;
}
.sectionSteps__wrapper {
    width: 22%;
    height: 42rem;
    margin-top: 2rem;
    flex-direction: column;
    display: flex;
    justify-content: space-evenly;
}